p, label {
    color: white;
    font-weight: 300;
    font-size: 19px;
}

#form-message-div {
    margin-top: 10px;
}

.spotify-image {
    height: 400px;
    width: 400px;
}

/*
* === Panels ===
*/

/*.panel {*/
    /*width: 100%;*/
/*}*/

.orange {
    background-color: orange;
}

.green {
    background-color: #4cd44c;
}

/* Global fonts */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Quicksand', sans-serif;

}

body, html {
    height: 100%;
}

#intro, #contact {
    min-height: 100vh;
}

#about, #projects, #contact {
    padding-bottom: 50px;
}

/* About */
.blue {
    background-color: #519ee9;
}

/* Projects*/
.red {
    background-color: #e13b5c;
}

/*
* === BUTTONS AND ICONS ===
*/

/* Icons */

.fa {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.fa:hover {
    color: white;
}

/* Buttons */

.btn {
    border-radius: 3px;
}

.project-btn {
    margin-bottom: 15px;
}

#submit-btn {
    margin-top: 20px;
}

.project-btn, #submit-btn {
    color: white;
    background-color: #0057e7;
    border-color: #0057e7;
}

.project-btn:hover, #submit-btn:hover {
    background-color: #00aedb;
    border-color: #00aedb;
}

.about-btn {
    font-size: 20px;
    color: white;
    background-color: #ff7b00;
    border-color: #ff7b00;

    /* Push images down */
    margin-bottom: 25px;
}

.about-btn:hover {
    background-color: #ffaf65;
    border-color: #ffaf65;
}


/* Animation */

#intro-fade-in-subtext, #intro-fade-in {
    color: white;
    /*Chrome and Safari*/
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .2s;
    /*IE*/
    -ms-animation-duration: 2s;
    -ms-animation-delay: .2s;
    /*Firefox*/
    -moz-animation-duration: 2s;
    -moz-animation-delay: .2s;
    /*Opera*/
    -o-animation-duration: 2s;
    -o-animation-delay: .2s;
}

/*
* === MOBILE OPTIMIZATION ===
*/

.page-header {
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

#intro-fade-in {
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
    font-family: 'Yesteryear', cursive;
    text-align: center;
    font-size: 80px;
    padding-top: 30px;
}

#scroll-arrow {
    padding-top: 50px;
}

@media (min-width: 768px) {
    #intro-fade-in {
        font-size: 120px;
        padding-top: 100px;
    }

    #scroll-arrow {
        padding-top: 100px;
    }

    .page-header {
        padding-bottom: 50px;
    }

    #about, #projects {
        padding-bottom: 100px;
    }

    #contact {
        height: 100%;
    }
}

