#main {
    margin-top: 20px;
    visibility: hidden;
}

body {
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #667db6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: Quicksand, Arial;

}

.btn-primary {
    background-color: coral;
    border-color: coral;
}

.btn-primary:hover {
    background-color: orangered;
    border-color: orangered;
}

small, span {
    color: white;
}

/* Cards */
.artist {
    margin-bottom: 20px;
}

.card, .card-img-top {
    min-width: 200px;
    max-width: 200px;
}

.card {
    margin-bottom: 20px;
}

.artist-name {
    font-size: 30px;
}

.artist-popularity {
    color: white;
}

.nav-item > a {
    font-size: 15px;
    color: white;
}

input {
    height: 30px;
}

.navbar {
    background-color: green;
}

.nav-item > a:hover {
    color: blue;
}

ul {
    list-style: none;
    padding-left: 0;
}

.blank {
    height: 40px;
}

/* Progress bar */

.progress {
    background-color: lightgray;
}

.progress-bar {
    background-color: coral;
}

.progress-value {
    position: absolute;
    margin-top: 8px;
    font-size: 15px;
    color: black;
}

/* Spinner */

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;

    margin: 40vh auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}