#page-header {
    padding-top: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
    background: url('../washington_university_background_copy.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.navbar {
    /*Chrome and Safari*/
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: .3s;
    /*IE*/
    -ms-animation-duration: 3s;
    -ms-animation-delay: 1s;
    /*Firefox*/
    -moz-animation-duration: 3s;
    -moz-animation-delay: 1s;
    /*Opera*/
    -o-animation-duration: 3s;
    -o-animation-delay: 1s;
}

.navbar-brand {
    font-weight: bold;
    font-size: 23px;
}

.navbar .navbar-brand:hover {
    color: purple;
}


/*Eric Goodman*/

#intro-fade-in {
    padding-top: 140px;
    font-size: 120px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    font-family: 'Yesteryear', cursive;
    margin-top: 25px;
    text-align: center;
    color: white;
    /*Chrome and Safari*/
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .5s;
    /*IE*/
    -ms-animation-duration: 3s;
    -ms-animation-delay: 1s;
    /*Firefox*/
    -moz-animation-duration: 3s;
    -moz-animation-delay: 1s;
    /*Opera*/
    -o-animation-duration: 3s;
    -o-animation-delay: 1s;
}