<div class="container">
    <div class="row justify-content-center">
        <div class="text-center col-lg-5 col-md-7 col-9">
            <span>Filter:</span>
            <input type="text" ng-model="searchFollowed.name"
                   id="searchFollowed" class="form-control">
        </div>
    </div>
    <hr>
    <!-- Artist list -->
    <ul>
        <li ng-repeat="artist in followedArtists | filter:searchFollowed" id="follwedartistslist"
            class="animate artist">
            <!--Artist name and followers-->
            <div class="row align-items-center">
                <div class="col-4">
                    <span class="artist-name">{{artist.name}}</span>
                    <small class="artist-followers">Followers: {{artist.followers.total | number : fractionSize}}
                    </small>
                </div>
                <div class="col-8">
                    <!--Bar-->
                    <div class="progress">
                        <div class="progress-bar align-content-center" role="progressbar"
                             style="width:{{artist.popularity}}%; height: 30px;"
                             aria-valuenow={{artist.popularity}} aria-valuemin="0"
                             aria-valuemax="100">
                            <span class="progress-value">Popularity: {{artist.popularity}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </li>
    </ul>
</div>

